<nav class="navbar">
  <div class="container-fluid mx-sm-2 mx-xl-5 p-0">
    <a class="navbar-brand">
      <img src="../assets/logo-dark.svg" />
    </a>
    <button class="btn btn-dark">Get Started</button>
  </div>
</nav>
<div class="p-0 landing mx-sm-2 mx-xl-5">
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12">
      <h1>Maximize skill, minimize budget</h1>
      <p>
        Our modern courses across a range of in-demand skills will give you the
        knowledge you need to live the life you want.
      </p>
      <button class="btn btn-primary bg-gradient">Get Started</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <img
        class="desktop d-none d-xl-block position-absolute"
        src="../assets/image-hero-desktop.png"
      />
      <img
        class="tablet d-none d-md-block d-xl-none position-absolute"
        src="../assets/image-hero-tablet.png"
      />
      <img
        class="mobile d-sm-block d-md-none m-auto"
        src="../assets/image-hero-mobile.png"
      />
    </div>
  </div>
</div>
<div class="cards">
  <div class="mx-sm-2 mx-xl-5">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card bg-gradient">
          <h2 class="text-light">Check out our most popular courses!</h2>
        </div>
      </div>
      <app-skill-card
        class="col-sm-12 col-md-6 col-lg-4"
        iconPath="../assets/icon-animation.svg"
        title="Animation"
        text="Learn the latest animation techniques to create stunning motion
      design and captivate your audience."
      ></app-skill-card>
      <app-skill-card
        class="col-sm-12 col-md-6 col-lg-4"
        iconPath="../assets/icon-design.svg"
        title="Design"
        text="Create beautiful, usable interfaces to help shape the future of how
      the web looks."
      ></app-skill-card>
      <app-skill-card
        class="col-sm-12 col-md-6 col-lg-4"
        iconPath="../assets/icon-photography.svg"
        title="Photography"
        text="Explore critical fundamentals like lighting, composition, and
    focus to capture exceptional photos."
      ></app-skill-card>
      <app-skill-card
        class="col-sm-12 col-md-6 col-lg-4"
        iconPath="../assets/icon-crypto.svg"
        title="Crypto"
        text="All you need to know
  to get started investing in crypto. Go from beginner to advanced with this
  54 hour course."
      ></app-skill-card>
      <app-skill-card
        class="col-sm-12 col-md-6 col-lg-4"
        iconPath="../assets/icon-business.svg"
        title="Business"
        text="A step-by-step playbook to help you start,
      scale, and sustain your business without outside investment."
      ></app-skill-card>
    </div>
  </div>
</div>
<div class="footer bg-dark">
  <div
    class="mx-sm-2 mx-xl-5 justify-content-between align-items-center d-flex py-2"
  >
    <a class="navbar-brand"> <img src="../assets/logo-light.svg" /> </a>
    <button class="btn btn-secondary">Get Started</button>
  </div>
</div>
